@import url("https://use.typekit.net/hzj4ldr.css");

.header {
    background-color: transparent;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8C214;
    font-family: skia-cc, sans-serif;
    font-weight: 100;
    text-align: left;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header h1 {
    width: 50%;
    text-align: center;
    padding-right: 80px;
}

.menuIcon {
    width: 50%;
}