@import url("https://use.typekit.net/hzj4ldr.css");

.header {
    background-color: transparent;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8C214;
    font-family: skia-cc, sans-serif;
    font-weight: 100;
    text-align: left;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
}

.header h1 {
    width: 50%;
    text-align: center;
    padding-right: 80px;
    margin-left: 20px;
}

.menuIcon {
    width: 50%;
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}

  @media screen and (max-width: 800px){
   .topnav_menu {
    background-color: aliceblue;
   }
  }



.topnav_link /*&_links*/{
  display: flex;  
  gap: 1rem;
  align-items: center;
  margin: 4px;
  padding:0; 
}

.topnav_item /*&_item*/{
    list-style-type: none; 
    float: left;
}

.topnav_link:hover {
    color:blanchedalmond
}